<div class="todo" data-todo-id="<%= todo.id %>">
  <div class="buttons">
    <%= link_to 'Выше', nil, title: 'Выше',
      class: 'btn btn-default up_index_button' %>
    <%= link_to 'Ниже', nil, title: 'Ниже',
      class: 'btn btn-default down_index_button' %>
    <%= button_for_change_status(todo) %>
    <%= link_to 'Редактировать', edit_todo_path(todo), title: 'Редактировать',
      class: 'btn btn-default' %>
    <%= link_to 'Удалить', todo,
        data: { confirm: 'Вы действительно хотите удалить задачу ?', method: :delete },
        title: 'Удалить',
        class: 'btn btn-default' %>
  </div>

  <h2><%= todo.title %></h2>
  <h3>Статус: <%= todo.status_pretty %></h3>
  <p><%= todo.description %></p>
</div>